
@{
    ViewBag.Title = "Gallows";
}

<link href="~/Content/GallowsStyle.css" rel="stylesheet" />
<script src="~/Scripts/JSGallows/JSGallows.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<div id="containerGallows">
    <div id="boardGallows"></div>
    <div id="gallows">
        <img src="~/Content/img/gallows/s0.jpg" />
    </div>
    <div id="alphabet"></div>
    <div style="clear:both;"></div>
</div>

<script src="~/Scripts/JSGallows/JSGallows.js"></script>