
@{
    ViewBag.Title = "Index";
}

<div class="section section1">
    <div class="inSection">
        <div class="inSection infoSection">
            <p>
                <h2>Hej Witam na stronie</h2>
                Mam na imię Marcin. Interesuję się muzyką, pieszymi wycieczkami po szlakach górskich
                i oczywiście programowaniem. 
            </p>
            <p>
                Obecnie zajmuję się tworzeniem stron z wykorzystaniem technologii ASP.NET MVC.
            </p>
        </div>
    </div>
    <div class="inSection">
        <div class="inSection infoSection">
            <p>
                <h2>Strona jest </h2>
                Mam na imię Marcin. Interesuję się muzyką, pieszymi wycieczkami po szlakach górskich
                i oczywiście programowaniem.
            </p>
            <p>
                Obecnie zajmuję się tworzeniem stron z wykorzystaniem technologii ASP.NET MVC.
            </p>
        </div>
    </div>
</div>
<div class="subSection">
    <div class="inSection">
        <div class="inSection infoSection">
            <div class="imgSection">
                <img src="~/Content/img/items/note.png" />
                Ikona muzyki, bo lubię muzykę.
            </div>
            <div class="imgSection">
                <img src="~/Content/img/items/html.png" />
                Ikona HTML bo używam tego języka.
            </div>
            <div class="imgSection">
                <img src="~/Content/img/items/beer.jpg" />
                Ikona piwa, bo wiadomo.
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
<div class="section section2">
    <div class="inSection">
        <div class="inSection infoSection">
            <p>
                <h2>Hej Witam na stronie</h2>
                nanasjdajsdnasj a nasjkn
            </p>
        </div>

    </div>
</div>
<div class="subSection">
    <div class="inSection">
        <div class="inSection infoSection">
            <p>
                <h2>Hej Witam na stronie</h2>
                nanasjdajsdnasj a nasjkn
            </p>
        </div>

    </div>
</div>
<div class="section section3">
    <div class="inSection">
        <div class="inSection infoSection">
            <p>
                <h2>Wsio :D</h2>
            </p>
        </div>

    </div>
</div>